<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created and maintained by Bhavesh Parmar. It use data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/me.jpg">
        <p>For more information you can visit my website</p>
        <a href="https://bhavesh-parmar.github.io/">https://bhavesh-parmar.github.io/</a>
    </div>
    
    {{>footer}}
</body>

</html>